@import './fonticons.css';

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
} 


.mg-top-150 {
    margin-top: 200px;
}

.grad {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@keyframes bounce {
  to { transform: translate3d(0, -50px, 0);     }
  from   { transform: translate3d(0, 0, 0); }
}

.tux {
    animation: bounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.grad h1 {
    font-weight: bold; 
}